language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

env:
  - DJANGO=1.8
  - DJANGO=1.9
  - DJANGO=1.10
  - DJANGO=1.11

matrix:
  exclude:
  - python: "3.3"
    env: DJANGO=1.9
  - python: "3.3"
    env: DJANGO=1.10

# command to install dependencies
install:
  - pip install Django==$DJANGO
  - pip install -r test-requires.txt
  - pip install codecov

# command to run tests
script:
    - python setup.py install .
    - python -m coverage run testproject/manage.py test -v3

after_success: codecov
